body,
tr,
td,
thead,
form {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  direction: rtl;
}

.my-bg-primary {
  background-color: #00457ebb;
}

.my-bg-info {
  background-color: #6d5f23c0;
}

td {
  font-size: 1.4rem;
}

#timetable,
#datetable,
#suntable,
#seasontable,
#sharaftable,
#eventsToday {
  text-align: right;
}

#city {
  background-color: #f0f9ff;
  font-size: 1.4em;
  height: 100px;
}
