body,
tr,
td,
thead,
form {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  direction: rtl;
}

td {
  font-size: 2.5rem;
}

#timetable,
#datetable,
#suntable,
#seasontable,
#sharaftable {
  text-align: right;
}

#city {
  background-color: #f0f9ff;
  font-size: 1.4em;
  height: 100px;
}
